<div class="col-12">
  <form [formGroup]="yourForm">
    <div class="card">

      <p-fieldset legend="Informations collaborateur">
        <h5>Informations collaborateur</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label htmlFor="firstname2">Nom Complet <span style="color: red;"> *</span></label>
            <input pInputText id="firstname2" formControlName="nomComplet" type="text" required />

            <div *ngIf=" formsubmit && yourForm.get('nomComplet')?.hasError('required')">
              <span style="color: red;"> Nom Complet est obligatoire</span>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="lastname2">CIN <span style="color: red;"> *</span></label>
            <p-inputNumber formControlName="cin" inputId="integeronly">
            </p-inputNumber>

            <div
              *ngIf=" formsubmit && (yourForm.get('cin')?.hasError('exactLength') ||  yourForm.get('cin')?.hasError('required'))">
              <span style="color: red;"> CIN est obligatoir (8 chiffres)</span>
            </div>
          </div>

          <div class="field col-12">
            <label htmlFor="address">N° Sécurité Sociale <span style="color: red;"> *</span></label>
            <p-inputNumber inputId="integeronly" formControlName="nss"></p-inputNumber>

            <div
              *ngIf=" formsubmit && (yourForm.get('nss')?.hasError('exactLength') ||  yourForm.get('nss')?.hasError('required'))">
              <span style="color: red;"> N° Sécurité Sociale est obligatoire (13 chiffres)</span>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="city">N° Compte <span style="color: red;"> *</span></label>
            <p-inputNumber inputId="integeronly" formControlName="numCompte">
            </p-inputNumber>
            <div
              *ngIf=" formsubmit && (yourForm.get('numcompte')?.hasError('exactLength') ||  yourForm.get('numCompte')?.hasError('required'))">
              <span style="color: red;"> N° C ompte est obligatoire (13 chiffres)</span>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="city">N° Téléphone <span style="color: red;"> *</span></label>
            <p-inputNumber inputId="integeronly" formControlName="numTel">
            </p-inputNumber>
            <div
              *ngIf=" formsubmit && (yourForm.get('numTel')?.hasError('exactLength') ||  yourForm.get('numTel')?.hasError('required'))">
              <span style="color: red;"> Le numéro du téléphone est obligatoire (8 chiffres)</span>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="city">Email <span style="color: red;"> *</span></label>
            <input formControlName="email" pInputText type="email" id="city" type="text" />

            <div
              *ngIf=" formsubmit && (yourForm.get('email')?.hasError('pattern') ||  yourForm.get('email')?.hasError('required'))">
              <span style="color: red;"> Veuillez entrer une adresse e-mail valide.</span>
            </div>

          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="city">Adresse <span style="color: red;"> *</span></label>
            <input pInputText id="city" formControlName="adresse" type="text" />

            <div
              *ngIf=" formsubmit && (yourForm.get('adresse')?.hasError('required') ||  yourForm.get('adresse')?.hasError('required'))">
              <span style="color: red;"> L'adresse est obligatoire</span>
            </div>
          </div>


          <div class="field col-12">
            <h5>Date de naissance <span style="color: red;"> *</span></h5>
            <p-calendar [showIcon]="true" formControlName="dateNaiss" dateFormat="dd/mm/yy" inputId="icon"></p-calendar>

            <div *ngIf=" formsubmit && yourForm.get('dateNaiss')?.hasError('required')">
              <span style="color: red;"> Date de naissance est obligatoire. </span>
            </div>

          </div>

        </div>
      </p-fieldset>
    </div>

    <div class="card">
      <p-fieldset legend="Qualifications" class="cont">
        <div class="field col-12 md:col-3">
          <label htmlFor="state">Nature d'étude <span style="color: red;"> *</span> </label>
          <p-dropdown [options]="natureEtudes" formControlName="natureEt">choisir


          </p-dropdown>

          <div *ngIf=" formsubmit && yourForm.get('natureEt')?.hasError('required')">
            <span style="color: red;"> Nature d'étude est obligatoire.</span>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <label htmlFor="state">Niveau d'étude <span style="color: red;"> *</span></label>
          <p-dropdown [options]="niveauEtudes" formControlName="niveauEt">choisir</p-dropdown>

          <div *ngIf=" formsubmit && yourForm.get('niveauEt')?.hasError('required')">
            <span style="color: red;"> Niveau d'étude est obligatoire.</span>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label htmlFor="city">Années d'Experience <span style="color: red;"> *</span></label>
          <p-inputNumber inputId="integeronly" formControlName="exp"> </p-inputNumber>

          <div *ngIf=" formsubmit && yourForm.get('exp')?.hasError('required')">
            <span style="color: red;"> Années d'Experience est obligatoire. </span>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label htmlFor="firstname2">Certification <span style="color: red;"> *</span></label>
          <input pInputText id="firstname2" type="text" formControlName="certification" />
          <!-- Display error message if validation fails -->
          <div *ngIf=" formsubmit && yourForm.get('certification')?.hasError('required')">
            <span style="color: red;"> Certification est obligatoire. </span>
          </div>
        </div>


      </p-fieldset>
    </div>
    <div class="card">
      <p-fieldset legend="Contrat" class="cont">
        <div class="field col-12 md:col-3">
          <label htmlFor="state">Type Contrat <span style="color: red;"> *</span></label>
          <p-dropdown [options]="typeContrats" (onChange)="onTypeContratChange($event)" formControlName="typeContrat" (onChange)="getTyp($event)">choisir
          </p-dropdown>
          <!-- Display error message if validation fails -->
          <div *ngIf=" formsubmit && yourForm.get('typeContrat')?.hasError('required')">
            <span style="color: red;"> Type Contrat est obligatoire</span>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <label htmlFor="state">Avantage sur salaire <span style="color: red;"> *</span> </label>
          <p-dropdown [options]="avantageSurSalaire" formControlName="avantageSurSalaire">choisir</p-dropdown>

          <!-- Display error message if validation fails -->
          <div *ngIf=" formsubmit && yourForm.get('avantageSurSalaire')?.hasError('required')">
            <span style="color: red;">Avantage sur salaire est obligatoire</span>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label htmlFor="city">Salaire de base <span style="color: red;"> *</span></label>
          <p-inputNumber inputId="integeronly" formControlName="salaireDeBase">
          </p-inputNumber>

          <!-- Display error message if validation fails -->
          <div *ngIf=" formsubmit && yourForm.get('salaireDeBase')?.hasError('required')">
            <span style="color: red;"> Salaire de base est obligatoire </span>
          </div>
        </div>


        <h5>Date début contrat <span style="color: red;"> *</span></h5>
        <div>

          <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" formControlName="dateDebCont"></p-calendar>

          <div *ngIf=" formsubmit && formsubmit && yourForm.get('dateDebCont')?.hasError('required')">
            <span style="color: red;"> Date de début du contrat est obligatoire</span>
          </div>

        </div>
        <div *ngIf="selectedTypeContrat === 'CDD'">
        <h5>Date fin contrat <span style="color: red;"> *</span></h5>
        <div>

          <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" formControlName="dateFinCont"></p-calendar>

          <div *ngIf=" formsubmit && yourForm.get('dateDebCont')?.hasError('required')">
            <span style="color: red;"> Date fin contrat est obligatoire.</span>
          </div>

        </div>
      </div>
      </p-fieldset>
    </div>
    <div class="card">
      <p-fieldset legend="Grade" class="cont">
        <div class="field col-12 md:col-3">
          <label htmlFor="state">Département <span style="color: red;"> *</span></label>
          <p-dropdown [options]="nomdepartements" (onChange)="onDepartementChange($event)"
            formControlName="departement">choisir</p-dropdown>

          <div *ngIf=" formsubmit && yourForm.get('departement')?.hasError('required')">
            <span style="color: red;"> Département est obligatoire.</span>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <label htmlFor="state">Poste <span style="color: red;"> *</span> </label>
          <p-dropdown [options]="postes" formControlName="poste" (onChange)="onPosteChange($event)" [optionValue]="'id'" [optionLabel]="'nomPoste'">choisir

            <div *ngIf=" formsubmit && yourForm.get('poste')?.hasError('required')">
              <span style="color: red;"> Poste est obligatoire.</span>
            </div>
          </p-dropdown>




        </div>


        <div class="field col-12 md:col-3">
          <label htmlFor="state">Responsable <span style="color: red;"> *</span></label>
          <p-dropdown  [disabled]="selectedPosteName === 'responsable'" [options]="nomResponsable" (onChange)="onResponsableChange($event)" formControlName="responsable">choisir</p-dropdown>

          <div *ngIf=" formsubmit && yourForm.get('responsable')?.hasError('required')">
            <span style="color: red;"> Responsable est obligatoire.</span>
          </div>
        </div>


      </p-fieldset>
    </div>
    <div class="card">
      <p-fieldset legend="Piéces jointes" class="cont">
        <div class="field col-12 md:col-6">
          <label htmlFor="city">Pièces Jointes </label>
          <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"></p-fileUpload>


          <div *ngIf=" formsubmit && yourForm.get('piecesJointes')?.hasError('required')">
            <span style="color: red;"> Pièces Jointes is required.</span>
          </div>
        </div>

        <p-table [value]="pieces" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Documents</th>
              <th>Obligatoire</th>
              <th>Statut</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-a>
            <tr>
              <td>{{a.pieceJointe }}</td>
              <td>X X X X</td>

              <td>
                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>
    <div class="card">
      <p-fieldset legend="Autre informations" class="cont">
        <div class="flex align-items-center">
          <p-checkbox [binary]="true" formControlName="recommendation"></p-checkbox>
          <label for="ingredient1" class="ml-2">Recommendation</label>
        </div>
        <div class="field col-12 md:col-6">
          <div class="field col-12 md:col-6">
            <label htmlFor="col"> Collaborateur </label>
            <input pInputText id="col" type="text" formControlName="collaborateur" />

          </div>

          <div class="area">
            <label htmlFor="commentaire">Commentaire</label>
            <textarea rows="5" cols="30" pInputTextarea class="area" formControlName="commentaire"></textarea>

          </div>

        </div>
      </p-fieldset>
    </div>
    <div class="btn">
      <p-button label="Initialiser" severity="secondary" class="btninit"></p-button>
      <p-button label="Enregistrer" (click)="save()"></p-button>
    </div>
  </form>
</div>
